<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<META HTTP-EQUIV="Pragma" CONTENT="no-cache"><META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"><META HTTP-EQUIV="Expires" CONTENT="0">
		<title></title>
		<!--导入jquery文件-->
		<script src="../../shared/js/jquery-1.8.3.min.js" type="text/javascript"></script>
		<script src="../../shared/js/jquery.extend.min.js" type="text/javascript"></script>
		<script src="../../shared/js/myLayer.js" type="text/javascript"></script>
		<script src="../../shared/layer/layer.js" type="text/javascript"></script>
		<script src="../../shared/bootstrap/js/bootstrap-table.js" type="text/javascript"></script>
		<script src="../../shared/bootstrap/js/bootstrap-table-zh-CN.js" type="text/javascript"></script>
		<!--导入bootstrap.css文件-->
		<link rel="stylesheet" href="../../shared/bootstrap/css/bootstrap.min.css"  type="text/css" />
		<link rel="stylesheet" href="../../shared/bootstrap/css/bootstrap-table.css"  type="text/css" />
		<link rel="stylesheet" href="../../shared/css/index-ess.css"  type="text/css" />
		<link rel="stylesheet" href="../../shared/css/font-awesome.min.css"  type="text/css" />
		<!--导入bootstrap.js文件-->
		<script type="text/javascript" src="../../shared/bootstrap/js/bootstrap.min.js" ></script>
		<!--创建视口-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- jqgridjs -->
		<script src="../../shared/jqgrid/js/jquery.jqGrid.min.js" type="text/javascript"></script>
		<script src="../../shared/jqgrid/js/jquery.jqGrid.extend.js" type="text/javascript"></script>
		<script type="text/javascript" src="../../shared/jqgrid/js/i18n/grid.locale-cn.js"></script>
		<script src="../../shared/plugins/utils.js" type="text/javascript"></script>
<style type="text/css">
.module-viewer-header {
    margin-top: 10px;
    margin-bottom: -1px;
    height: 40px;
    background: #f5f6fa;
    line-height: 38px;
    border: 1px solid #e1e6eb;
    position: relative;
    border-left: 4px solid #6d7781;
}

.module-viewer-header .module-viewer-title {
    font-size: 16px;
    color: #333;
    display: inline-block;
    margin-left: 16px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-default {
    border-color: #ddd;
}

.panel-body {
    padding: 15px;
}

.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.margin-right, .margin-right-1 {
    margin-right: 8px !important;
}
</style>
	</head>
	<body>
		<!--创建布局容器-->
		<div class="container-fluid" style="margin:0 10px 0 10px;">
			<div class="clearfix"></div>
				<div class="module-viewer-header">
		       	 <span class="module-viewer-title">基本信息</span>
				</div>
			    <div class="panel panel-default">
	        		<div class="panel-body">
			        <div class="row-fluid" >
						<table id="ruleTable" style="border:none;">
				        </table>		
					</div>
	        		</div>
        		</div>
				<div class="module-viewer-header">
		       	 <span class="module-viewer-title">印章基本信息</span>
				</div>
			    <div class="panel panel-default">
	        		<div class="panel-body">
			        <div class="row-fluid" >
						<table id="sealTable" style="border:none;"> </table>	
					</div>
	        		</div>
        		</div>

				<div class="module-viewer-header" id="certtitle">
		       	 <span class="module-viewer-title">证书信息</span>
				</div>
			    <div class="panel panel-default" id="cert">
	        		<div class="panel-body">
			        <div id="certificateId" class="row-fluid" > 
						 <table id="certificateTable" style="border:none;"> </table>	 		
					</div>
	        		</div>
        		</div>

		</div>
	</body>
<script type="text/javascript">

var aipUrl = getUrlPath();
var sealTypeArr = ['','公章','公章(法人章)','公章(合同章)','公章(党章)','公章(财务章)','公章(工会章)','个人章','个人章(手写签名)','个人章(文字签名)'];


$(document).ready(function() {
	var id = GetQueryString("id");
    var servFlag=GetQueryString("servFlag");
    if(servFlag!=null){
        $("#certtitle").hide();
        $("#cert").hide();
    }
	var certId = GetQueryString("certId");
	getRuleinfo(id,certId);

});

//根据key值获取页面传值
function GetQueryString(name){
    var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
    var r = window.location.search.substr(1).match(reg);
    if(r!=null)return  decodeURI(r[2]); return null;
}

function getRuleinfo(id,certId){
	$.ajax({
		type : "GET",
		url : aipUrl+"/sealRule/"+id+"?noCache="+new Date().getTime(),
		dataType : "json",
		async:false,
		contentType: "application/json; charset=utf-8",
		success : function(redata) {
			var data=redata[0];
	 		$("#ruleTable").append('<tr"><td width="120px" style="text-align:right;border:none;"><b>规则号：</b></td><td style="border:none;">' +(data.number)+'</td><td width="120px" style="text-align:right;border:none;"><b>规则名称：</b></td><td style="border:none;">' +data.name+'</td><td width="120px" style="text-align:right;border:none;"><b>状态：</b></td><td style="border:none;">' +(data.status == 0 ? '注销' : '正常')+'</td></tr>');
			$("#ruleTable").append('<tr"><td width="120px" style="text-align:right;border:none;"><b>创建时间：</b></td><td style="border:none;">' +(new Date(data.createdAt*1000).toLocaleString())+'</td><td width="120px" style="text-align:right;border:none;"><b>修改时间：</b></td><td style="border:none;">' +(new Date(data.updatedAt*1000).toLocaleString())+'</td><td width="120px" style="text-align:right;border:none;"><b>规则类型：</b></td><td style="border:none;">' +getSealType(data.type)+'</td></tr>');
			$("#ruleTable").append('<tr"><td  style="text-align:right;border:none;"><b>详细参数：</b></td><td style="border:none;">' +detail(data)+'</td>'); 
			
			
			$("#sealTable").append('<tr"><td width="120px" style="text-align:right;border:none;"><b>公司名称：</b></td><td style="border:none;">' +""+'</td><td width="120px" style="text-align:right;border:none;"><b>印章名称：</b></td><td style="border:none;">' +data.seal.name+'</td><td width="120px" style="text-align:right;border:none;"><b>印章类型：</b></td><td style="border:none;">' +(sealTypeArr[data.seal.type])+'</td></tr>');
			$("#sealTable").append('<tr"><td width="120px" style="text-align:right;border:none;"><b>所属部门：</b></td><td style="border:none;">' +(data.seal.department.name)+'</td><td width="120px" style="text-align:right;border:none;"><b>状态：</b></td><td style="border:none;">' +(data.seal.status == 0 ? '注销' : '正常')+'</td><td width="120px" style="text-align:right;border:none;"><b>所属部门：</b></td><td style="border:none;">' +(data.seal.department.name)+'</td><td width="120px" style="text-align:right;border:none;"><b>制章人：</b></td><td style="border:none;">' +redata[1].name +'</td></tr>');
			$("#sealTable").append('<tr"><td width="120px" style="text-align:right;border:none;"><b>制章时间：</b></td><td style="border:none;">' +(new Date(data.createdAt*1000).toLocaleString())+'</td><td width="120px" style="text-align:right;border:none;"><b>印章宽度：</b></td><td style="border:none;">' +(data.seal.sealWidth + 'mm')+'</td><td width="120px" style="text-align:right;border:none;"><b>印章高度：</b></td><td style="border:none;">' +(data.seal.sealHeight + 'mm')+'</td></tr>');
		}
	});
	
	$.ajax({
		type : "GET",
		url : aipUrl+"/all_certs?noCache="+new Date().getTime(),
		dataType : "json",
		async:false,
		contentType: "application/json; charset=utf-8",
		success : function(certs) {
			  var data;
		      if (certs.length > 0) {
		        for (var i = certs.length - 1; i >= 0; i--) {
		           if (certs[i].id === certId){
		        	   data=certs[i];
			          break;
		            }
		            
		          }
		    }
		 	$("#certificateTable").append('<tr"><td width="120px" style="text-align:right;border:none;"><b>证书名称：</b></td><td style="border:none;">' +(data.name)+'</td><td width="120px" style="text-align:right;border:none;"><b>证书来源：</b></td><td style="border:none;">' +(data.src == '0' ? '加密机证书' : '服务器证书')+'</td></tr>');
			$("#certificateTable").append('<tr"><td width="120px" style="text-align:right;border:none;"><b>注册时间：</b></td><td style="border:none;">' +(new Date(data.regTime*1000).toLocaleString())+'</td><td width="120px" style="text-align:right;border:none;"><b>注册用户：</b></td><td style="border:none;">' +data.regUser+'</td></tr>');
		}
	});
	
}  
  function getSealType(type) {
      switch (type) {
        case 1:
          return "类型一（绝对坐标）";
        case 2:
          return "类型二（书签）";
        case 3:
          return "类型三（骑缝章）";
        case 4:
          return "类型四（文字-覆盖）";
        case 5:
          return "类型五（文字-后面）";
        case 6:
          return "类型六（多页绝对坐标）";
        case 7:
          return "类型七（多页骑缝章）";
      }
  }
      
      
      //将后台数据转化为可以展示到详情的数据
      function detail(rule) {
        var args, mode, pos, str = "";
        args = JSON.parse(rule.parameterDescription);
        if (rule.type === 1) {
          str += "在第";
          str += args.sealPage + "页的(";
          str += args.horizontalDistance + ",";
          str += args.verticalDistance + ")坐标处盖章(坐标范围：1-49999)";
        } else if (rule.type === 2) {
          str = "在书签\"";
          str += args.bookmark + "\"处盖章";
        } else if (rule.type === 3) {
          mode = args.documentType === 0 ? "单面" : "双面";
          pos = args.qifengType === 3 ? "右骑缝" : "其他骑缝";
          str = "在第" + args.beginPage + "页到";
          if (args.endPage === -1) {
            str += "最后1页";
          } else {
            str += "第" + args.endPage + "页";
          }
          str += "的坐标（" + args.position + "）处加盖";
          str += mode + pos + "印章（坐标范围：1-49999）";
        } else if (rule.type === 4) {
          str = "在第" + args.beginPage + "页到";
          if (args.endPage === -1) {
            str += "最后1页";
          } else {
            str += "第" + args.endPage + "页";
          }
          str += "中文字\"" + args.matchingText + "\"上：";
          if (args.verticalOffset !== undefined && args.verticalOffset !== 0) {
            if (args.verticalOffset < 0) {
              str += "向上偏移" + Math.abs(args.verticalOffset);
            } else if (args.verticalOffset > 0) {
              str += "向下偏移" + args.verticalOffset;
            }
          }
          if (args.horizontalOffset !== undefined && args.horizontalOffset !== 0) {
            if (args.horizontalOffset < 0) {
              str += "向左偏移" + Math.abs(args.horizontalOffset);
            } else if (args.horizontalOffset > 0) {
              str += "向右偏移" + args.horizontalOffset;
            }
          }
          str += "加盖印章";
        } else if (rule.type === 5) {
          str = "在第" + args.beginPage + "页到";
          if (args.endPage === -1) {
            str += "最后1页";
          } else {
            str += "第" + args.endPage + "页";
          }
          str += "中文字\"" + args.matchingText + "\"后面";
          if (args.verticalOffset !== undefined && args.verticalOffset !== 0) {
            if (args.verticalOffset < 0) {
              str += "向上偏移" + Math.abs(args.verticalOffset);
            } else if (args.verticalOffset > 0) {
              str += "向下偏移" + args.verticalOffset;
            }
          }

            if (args.horizontalOffset !== undefined && args.horizontalOffset !== 0) {
                if (args.horizontalOffset < 0) {
                    str += "向左偏移" + Math.abs(args.horizontalOffset);
                } else if (args.horizontalOffset > 0) {
                    str += "向右偏移" + args.horizontalOffset;
                }
            }
          str += "加盖印章";
        } else if (rule.type === 6) {
           str = "在第" + args.beginPage + "页到";
           if (args.endPage === -1) {
             str += "最后1页";
           } else {
             str += "第" + args.endPage + "页,";
           }
          if (args.intervalType === 1) {
            str += "奇数";
          } else if (args.intervalType === 2) {
            str += "偶数";
          } else if (args.intervalType === 3) {
            str += "每间隔" + args.intervalPage;
          }
          str += "页(";
          str += args.horizontalDistance + "," + args.verticalDistance + ")坐标处加盖印章(坐标范围：1-49999)";
        } else if (rule.type === 7) {
          mode = args.documentType === 0 ? "单面" : "双面";
          pos = args.qifengType === 3 ? "右骑缝" : "其他骑缝";
          str = "在第" + args.beginPage + "页到";
          if (args.endPage === -1) {
            str += "最后1页";
          } else {
            str += "第" + args.endPage + "页";
          }
          str += "内每隔";
          str += args.pageNum + "页的坐标（" + args.position + "）处加盖";
          str += mode + pos + "印章（坐标范围：1-49999）";
        }
        return str;
      }

</script>
</html>
