@font-face {
  font-family: 'JavaKitFont';
  src: url('Fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('Fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('Fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('Fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('Fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('Fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
	text-decoration: none; font-style: normal; outline: none; font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "微软雅黑";
}
html {
	width: 100%; height: 100%; border: none; cursor: default; overflow: auto;
}
body {
	width: 100%; font-size: 12px; text-align: center; margin: 0px; padding: 0px; border: none;
}
table {
	font-size: 14px; color: rgb(80,80,80); border-collapse: collapse;
}
table td {
	text-align: left;
}

img {
	border: 0px; cursor: pointer; vertical-align: middle; display: inline-block; max-width: 100%; height: auto;
}
button {
	border: none; cursor: pointer; vertical-align: middle !important;
}
p {
	margin: 0px; padding: 0px;
}
b {
	font-weight: normal;
}
ul {
	list-style: none;
}
a:hover {
	text-decoration: none !important;
}

/*工作流图相关样式*/
.chartLayer {
	width: 320px; height: auto; min-height: 100px; margin: 10px; background-color: #f7f7f7; color: gray; border: 1px solid #d9d9d9;
	display: inline-block; vertical-align: top; padding: 10px 0px;
}
.chartLayer>span {
	width: 40px; height: 40px; line-height: 40px; font-size: 14px; border-radius: 50px; background-color: #9B2F2F; color: white;
	border: 2px solid #4A0B0B; margin: 0px auto; padding: 0px; display: inline-block; text-align: center; position: relative;
}
.chartLayer>ul {
	margin: 28px 0px; padding: 0px;
	list-style: none;
}
.chartLayer>ul>li {
	margin: 24px auto; padding: 8px 0px 0px 0px; background-color: white; border: 1px solid #E8E8E8; border-radius: 15px; width: 80%;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}
.chartLayer>ul>li>img {
	position: relative; bottom: -23px;
}

.chartLayer>.start:after{
	font-family: "JavaKitFont"; content: "\f175"; font-size: 18px; position: absolute; top: 37px; left: 16px; color: gray;
}

.chartLayer>ul>li>span {
	margin: 10px auto;
	position: relative; bottom: -12px;
}
.chartLayer>ul>li>p {
	margin: 10px auto;
	position: relative; bottom: -12px;	
}
.chartLayer>.end{
	position: relative; top: -2px;	
}
.chartLayer>ul>li>h4 {
	color: #000; margin: 10px auto;
	position: relative; bottom: -12px;
}
.chartLayer>ul>li>p>i {
	padding: 0px 4px; display: inline-block; vertical-align: middle;
}
.radius5 {
	-moz-border-radius: 5px; -webkit-border-radius: 5x; border-radius: 5px;
}
.layui-layer-title{
	text-align: left;
}