@charset "utf-8";
/*
demo JavaKit
author 王松乐
Date 2016-10-3
*/
/*-----------login 登录界面--------------*/
body {
	height: 100%;
}
.login {
	width: 100%; height: 100%; min-width: 320px; background: url("../images/body.jpg") no-repeat bottom center; background-size: 100%; background: url("../images/body_ie8.jpg") repeat-x bottom center\0;
}
.login>h1 {
	color: white; margin: 0px; padding: 0px; font-weight: normal; position: relative; top: 15%; font-size: 32px; letter-spacing: 5px;
}
.login .window {
	width: 40%; height: 300px; border-radius: 8px; background-color: rgb(255,255,255); background-color: rgba(255,255,255,0.95); position: relative; margin: 0px auto; top: 20%; -moz-box-shadow:2px 2px 8px #6b3619; -webkit-box-shadow:2px 2px 8px #6b3619; box-shadow:2px 2px 8px #6b3619; overflow: hidden;
}
.login .window>h2 {
	color: #fff; margin: 0px; padding: 0px; width: 100%; height: 45px; line-height: 45px; text-align: left; text-indent: 18px; font-weight: normal; font-size: 16px; border-bottom: 1px solid rgb(255,255,255); background-color: rgb(38,68,118); border-bottom: 1px solid rgba(255,255,255,0.5); background-color: rgba(38,68,118,0.90);
}
.login .window>h2:before {
	font-family: "JavaKitFont"; content: "\f1d8"; font-size: 18px; margin-right: 6px;
}
.login .window .form {
	width: 90%; height: auto; margin: 10px auto; text-align: left;
}

.login .window .form>form>span:nth-child(1):after {
	font-family: "JavaKitFont"; content: "\f007"; font-size: 21px; float: right; margin-right: 10px; color: #71453c;
}
.login .window .form>form>span:nth-child(2):after {
	font-family: "JavaKitFont"; content: "\f13e"; font-size: 21px; float: right; margin-right: 12px; color: #71453c;
}

/*------------------------追加响应式布局样式-------------------------------*/
@media screen and (max-width:1095px) {
	.login .window {width: 50%;}
	.login .window .form .goto>input[name=code] {width: 52%;}
	.login .window .form .goto button {display: block; width: 100%; margin: 10px auto;}
}
@media all and (max-device-width:960px) {
	.login>h1 {font-size: 24px;}
	.login .window {width: 80%;}
	.login .window .form .goto>input[name=code] {width: 52%;}
	.login .window .form .goto button {display: block; width: 100%; margin: 10px auto;}
	.login .window .form .goto a {display: block;}
}








